<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="post">

    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngIf="post" class="post">
    <img data-src="{{post.map_zoom}}">
    <div class="post-title" [innerHTML]="post.title.rendered"></div>
    <p class="post-content" [innerHTML]="post.content.rendered"></p>
 </div>
</ion-content>

<ion-footer>
 <ion-toolbar>
  <button ion-button block (click)="createComment()">Kodu Aç</button>
 </ion-toolbar>
</ion-footer>
